<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6">
        <ion-card *ngIf="user$ | async; let user">
          <img
            [src]="user.imageUrl ? user.imageUrl : 'https://picsum.photos/200'"
            class="center"
          />
          <ion-card-header>
            <ion-card-title class="ion-text-center"
              >{{ user.Name }}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>My stories</ion-card-title>
          </ion-card-header>

          <ng-container *ngIf="stories$ | async; let stories; else loading">
            <ion-item color="medium" *ngIf="stories.length === 0">
              No Stories Written yet..
              <ion-text
                [routerLink]="['/add-story']"
                style="cursor: pointer"
                color="secondary"
              >
                Add a story
              </ion-text>
            </ion-item>
            <ion-list *ngIf="stories.length > 0">
              <ion-item *ngFor="let story of stories">
                <ion-thumbnail>
                  <img [src]="story.imageUrl" />
                </ion-thumbnail>
                <ion-text class="ion-margin">
                  <h3>{{ story.title }}</h3>
                  <p>{{ story.description }}</p>
                </ion-text>
              </ion-item>
            </ion-list>
          </ng-container>
          <ng-template #loading>
            <ion-item *ngFor="let i of [1, 2]">
              <ion-thumbnail>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-text style="width: 100%" class="ion-margin">
                <h3>
                  <ion-skeleton-text
                    animated
                    style="width: 100%"
                  ></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text
                    animated
                    style="width: 100%"
                  ></ion-skeleton-text>
                </p>
              </ion-text>
            </ion-item>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
