@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

#heading {
  font-family: "Lobster", cursive;
}

ion-slide{
    height: 300px;
    width: 100%;
    background: url("https://picsum.photos/200") no-repeat center/cover;
    border-radius: 10px;
}