<ion-menu side="start" menuId="first" contentId="main" class="menuClass">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menuTitle">StoryBooks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item detail [routerLink]="['/', 'feed']">
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail [routerLink]="['/', 'profile']">
          <ion-label>Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail [routerLink]="['/', 'favourites']">
          <ion-label>Liked Stories</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail [routerLink]="['/', 'add-story']">
          <ion-label>Write a Story</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button (click)="signout()">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>StoryBooks</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngIf="recentStories$ | async; let recentStories; else slideLoading"
        size-md="8"
        offset-md="2"
      >
        <ion-text class="ion-text-center header">
          <h1 id="heading">Recent Stories</h1>
        </ion-text>
        <!-- <ion-slides
          mode="ios"
          [options]="slideOpts"
          pager="ios"
          scrollbar="ios"
        >
          <ion-slide *ngFor="let story of recentStories">
            <ion-img [src]="story.imageUrl"></ion-img>
            <div class="content">
              <h2>{{ story.title }}</h2>
            </div>
          </ion-slide>
        </ion-slides> -->
        <ion-item
          *ngFor="let story of recentStories"
          [routerLink]="['','story-detail', story.id]"
          routerLinkActive="router-link-active"
          detail
        >
          <ion-thumbnail class="ion-margin-end">
            <img [src]="story.imageUrl" />
          </ion-thumbnail>
          <ion-text
            ><h3>{{ story.title }}</h3>
            <p>{{ story.description }}</p></ion-text
          >
        </ion-item>
      </ion-col>

      <ng-template #slideLoading>
        <ion-col size-md="8" offset-md="2">
          <ion-item *ngFor="let i of [1, 2]">
            <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-text style="width: 100%" class="ion-margin">
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 100%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 100%"
                ></ion-skeleton-text>
              </p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ng-template>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-text class="ion-text-center header">
          <h1 id="heading">Featured Stories</h1>
        </ion-text>
        <ion-item
          *ngFor="let story of stories$ | async"
          [routerLink]="['','story-detail', story.id]"
          routerLinkActive="router-link-active"
          detail
        >
          <ion-thumbnail class="ion-margin-end">
            <img [src]="story.imageUrl" />
          </ion-thumbnail>
          <ion-text
            ><h3>{{ story.title }}</h3>
            <p>{{ story.description }}</p></ion-text
          >
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
