@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  color: #fff;
}

#heading,
.menuTitle {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

ion-menu {
  --background: #26001b;
  color: #fff;
}

ion-menu-toggle {
  ion-item {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.header {
  color: #fff;
  font-size: 1.5rem;
}

ion-item {
  & > * {
    color: #fff;
  }
}

ion-icon {
  color: #fff;
}

ion-slide {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  position: relative;

  .content {
    position: absolute;
    top: 42%;
    left: 34%;
    text-align: center;
    max-width: 200px;

    h2 {
      margin: 0;
    }
  }
}
