@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  color: #fff;
}

#heading,
.menuTitle {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

ion-menu {
  --background: #26001b;
  color: #fff;
}

ion-menu-toggle {
  ion-item {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.header {
  color: #fff;
  font-size: 1.5rem;
}

ion-item {
  & > * {
    color: #fff;
  }
}

ion-icon {
  color: #fff;
}

ion-slide {
  height: 300px;
  width: 100%;
  background: url("https://picsum.photos/200") no-repeat center/cover;
  border-radius: 10px;
}
