<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="menuTitle">StoryBooks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item detail [routerLink]="['/', 'feed']">
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail [routerLink]="['/', 'profile']">
          <ion-label>Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail [routerLink]="['/', 'favourites']">
          <ion-label>Liked Stories</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button (click)="signout()">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>StoryBooks</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-slides
          mode="ios"
          [options]="slideOpts"
          pager="ios"
          scrollbar="ios"
        >
          <ion-slide>
            <h1>Story 1</h1>
          </ion-slide>
          <ion-slide>
            <h1>Story 2</h1>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-text class="ion-text-center" color="primary">
          <h1 id="heading">Featured Stories</h1>
        </ion-text>
        <ion-item
          *ngFor="let story of stories$ | async"
          [routerLink]="['','story-detail', story.id]"
          routerLinkActive="router-link-active"
          detail
        >
          <ion-avatar class="ion-margin-end">
            <img [src]="story.imageUrl" />
          </ion-avatar>
          <ion-label
            ><h3>{{ story.title }}</h3>
            <p>{{ story.description }}</p></ion-label
          >
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-fab vertical="bottom" routerLink="/add-story" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-grid>
</ion-content>
