<ion-header>
  <ion-toolbar>
    <ion-title>About StoryBooks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="about-header">
    <div class="container">
      <h2>What the users do here..</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
        maxime sed inventore sequi tempore incidunt dolor labore vitae, pariatur
        officiis asperiores aspernatur necessitatibus adipisci, tempora quae?
        Iure adipisci amet quo id magnam excepturi similique nihil, ut, saepe,
        fugiat cum nobis laborum cumque libero perferendis. Earum incidunt
        asperiores error odit magni?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        voluptatem, autem debitis magni harum sequi quidem nesciunt unde, dicta
        totam quis est vel beatae? Culpa tenetur modi hic. Ratione facilis
        officia dolor a ipsam molestias explicabo debitis blanditiis dolorem
        enim perspiciatis quaerat numquam dolorum deleniti quo quia, itaque
        aliquam placeat commodi? Exercitationem maiores, eaque ullam nulla
        aperiam nostrum laborum aut?
      </p>
      <ion-button [routerLink]="['/home']">Back to Home Page </ion-button>
    </div>
  </section>
</ion-content>
