:root {
  --ion-color-primary: #ae690a;
  --ion-color-primary-rgb: 174, 105, 10;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #995c09;
  --ion-color-primary-tint: #b67823;

  --ion-color-secondary: #f2bd4a;
  --ion-color-secondary-rgb: 242, 189, 74;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d5a641;
  --ion-color-secondary-tint: #f3c45c;

  --ion-color-tertiary: #ec453c;
  --ion-color-tertiary-rgb: 236, 69, 60;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d03d35;
  --ion-color-tertiary-tint: #ee5850;

  --ion-color-success: #279ee7;
  --ion-color-success-rgb: 39, 158, 231;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #228bcb;
  --ion-color-success-tint: #3da8e9;

  --ion-color-warning: #bd4ce6;
  --ion-color-warning-rgb: 189, 76, 230;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #a643ca;
  --ion-color-warning-tint: #c45ee9;

  --ion-color-danger: #e36879;
  --ion-color-danger-rgb: 227, 104, 121;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #c85c6a;
  --ion-color-danger-tint: #e67786;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
