<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Login</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="authForm" (ngSubmit)="login()">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
              </ion-item>
              <ion-text
                *ngIf="email.invalid && (email.dirty || email.touched)"
                color="danger"
              >
                <small>Please enter a valid email.</small>
              </ion-text>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input
                  formControlName="password"
                  type="password"
                ></ion-input>
              </ion-item>
              <ion-text
                *ngIf="password.invalid && (password.dirty || password.touched)"
                color="danger"
              >
                <small>Please enter a valid password.</small>
              </ion-text>
              <ion-button
                [disabled]="email.invalid || password.invalid"
                type="submit"
                expand="block"
              >
                Login
              </ion-button>
            </form>
            <ion-text>
              New here?
              <ion-text
                [routerLink]="['/signup']"
                style="cursor: pointer"
                color="secondary"
              >
                SignUp
              </ion-text>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
