ion-slides {
  height: 80vh;
}

ion-slide {
  border-radius: 10px;
  position: relative;
}

#slide1 {
  background: url("../../assets/image1.jpg") no-repeat center center/cover;
}

#slide2 {
  background: url("../../assets/image2.jpg") no-repeat center center/cover;
}

#slide3 {
  background: url("../../assets/image3.jpg") no-repeat center center/cover;
}

#slide1::before,
#slide2::before,
#slide3::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 80vh;
  background: #111;
  border-radius: 10px;
  opacity: 0.7;
  width: 100%;
}

#slide1 h1,
#slide2 h1,
#slide3 h1 {
  z-index: 2;
  color: #fff;
}
